@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
}
.font-indie {
  font-family: "Indie Flower", cursive;
}
@keyframes sparkLine {
  0% {
    opacity: 1;
    transform: rotate(var(--angle)) translateX(0) scaleX(1);
  }

  100% {
    opacity: 0;
    transform: rotate(var(--angle)) translateX(24px) scaleX(0.2);
  }
}